<div class="page-wrapper">
  <div class="section" id="landing">
    <div class="column" id="blurb">
      <p>
        <span class="emphasis">Hi.</span>
        <br />
        <br />
        I'm <span class="emphasis">Kevin</span>.
        <br />
        <span class="understated">
          Do you like Anchovy Pizza?
        </span>
      </p>
    </div>
    <div class="column" id="image">
      <mat-icon aria-hidden="false" aria-label="Pizza Icon" fontIcon="local_pizza"></mat-icon>
    </div>
  </div>
</div>